.App {
    text-align: center;
    height: 100vh;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-container .react-datepicker-wrapper {
    margin: 12px 0;
    /* width: 100%; */
}

.input-container .react-datepicker-wrapper input {
    padding: 4px 12px;
}

.summary {
    font-size: 18px;
}

.issuecard {
    top: 80px;
    left: 30%;
    width: 40%;
    height: 600px;
    position: relative;
    border-radius: 0.5rem;
    display: -ms-grid;
    display: grid;
    border: 2px solid #0395a0;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #283149;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 14px 14px 20px #0e2333, 14px 14px 50px #06141f;
    box-shadow: 14px 14px 20px #0e2333, 14px 14px 50px #06141f;
}

.formi {
    position: relative;
    width: 50%;
    height: 1rem;
    background-color: #283149;
}

.form__inputi {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    border: 2px solid #0395a0;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: #E6F5FF;
    outline: none;
    padding: 1rem;
    background: none;
    background-color: #283149;
    /* Change border when input focus*/
}

.form__inputi:hover {
    border-color: #adffff;
}

.form__inputi:focus {
    border-color: #18ffff;
}

.form__labeli {
    position: relative;
    left: 10px;
    top: -40px;
    padding: 0.1rem;
    color: #DBEDF3;
    font-size: 1.2rem;
    background-color: none;
    cursor: text;
    -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
    background-color: #283149;
}

.form__inputi:focus~.form__labeli,
.form__inputi:not(:placeholder-shown).form__inputi:not(:focus)~.form__labeli {
    top: -72px;
    font-size: 0.8rem;
    left: 1.6px;
    color: #03d999;
}